<%- include('partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-heading">Search Results</div>
  </div>
</header>
<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div>
      <% if (foundStudents.length>0) { %>
        <h3 class="d-flex justify-content-center">Students Found</h3>
        <% foundStudents.forEach(student => { %>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">
             <a href = "/students/<%=student._id%>"><%=student.name%></a>
           </li>
         </ul>
        <% }) %>
      <% } %>
    </div>

    <div>
      <% if (foundNarratives.length>0) { %>
        <h3 class="d-flex justify-content-center">Narratives Found</h3>
        <% foundNarratives.forEach(narrative => { %>
         <ul class="list-group list-group-flush">
           <li class="list-group-item">
             <a class ="d-flex justify-content-center" href = "/students/<%=narrative.student%>"><%=foundNarrativeNames[narrative.student]%></a>
             <p class ="d-flex justify-content-center"><%=narrative.text%></p>
           </li>
         </ul>
        <% }) %>
      <% } %>
    </div>
  </div>
</section>

<!-- Footer-->
<%- include('partials/footer') %>
