<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading"><%=title%></div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="narratives">
  <div class="container">

  <form 
  <% if (request==='new') { %>
    action="/narratives" method="post" 
    <% } else { %>
      action="/narratives/<%=narrative._id%>?_method=PUT" method="post" 
  <% } %> 
  >
  <div class= "d-flex justify-content-center mb-4">
  <div class ="col-2">
    <select
      name="student"
      id = "student-dropdown"
      class="form-select form-select-sm  d-flex justify-content-center"
      aria-label=".form-select-sm example"
    >
    <% if (students.length!==1) { %>
      <option selected>Pick a Student</option>
    <% } %>
      
      <% students.forEach(student => { %>
      <option value="<%-student._id%>" <%-students.length===1 ? `selected` : `` %>><%=student.name%></option>
      <% }) %>
    </select>
  </div>
</div>
    
  <div class="form-group">
    <textarea class="form-control mb-4" id="narrative-area" name="text" placeholder = "Enter Narrative" rows="4"><%= !!narrative ? narrative.text : `` %></textarea>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class ="btn btn-primary" id = "student-submit"><%=request===`new` ? `Add Narrative` : `Update Narrative`%></button>
  </div>
  </form>
</div>
</section>

<%- include('../partials/footer') %>