<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Students</div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="students">
  <div class="container">
    <% if (students.length>0) { %>
    <h3 class="d-flex justify-content-center">List of Students</h3>
    <div class="accordion" id="accordionStudent">
      <% students.forEach(student => { %>

      <div class="accordion-item">
        <h2 class="accordion-header id="<%-student.name%>">           
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse<%-student._id%>"
                aria-expanded="false"
                aria-controls="collapse"
              >
                <%=student.name%>
              </button>
        </h2>
        <div
          id="collapse<%-student._id%>"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionStudent"
        >
          <div class="accordion-body">
            <div class="my-3">Grade: <%=student.grade%></div>

            <div class="d-md-inline">
              <% for( let category in student.categories ) { %>
              <strong><%=category%></strong>: <%=student.categories[category]%>
              <% } %>
            </div>
            <ul>
              <% studentNarratives[student.name].forEach(narrative => { %>
              <li>
                <p class="my-3"><%=narrative.text%></p>
              </li>
              <% }) %>
            </ul>

            <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
          <div class="btn-group me-2" role="group" aria-label="First group">
            <form action="students/<%-student._id%>" method="GET">
              <button type="submit" class="btn btn-sm btn-secondary">
                Update <%=student.name%>
              </button>
            </form>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <form
              action="/students/<%-student._id%>?_method=DELETE"
              method="POST"
            >
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal<%-student._id%>"
              >
                Delete
              </button>
              <div
                class="modal fade"
                id="deleteModal<%-student._id%>"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="deleteModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">
                        Deletion is Permanent
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Deleting a student will also delete all narratives
                      associated with that student.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-danger">
                        Delete <%=student.name%>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
            
          </div>
        </div>
      </div>
    </div>
    <% }) %> <% } %>
    <div class="d-flex justify-content-center mt-5">
      <form action="/students/new">
        <button class="btn btn-primary">Add a Student</button>
      </form>
      
    </div>
  </div>
</section>
<!-- Footer-->
<%- include('../partials/footer') %>
