<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading"><%=title%></div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="students">
  <div class="container">
  <h4 class="d-flex justify-content-center">This is <%=student.name%></h4>

    <div class="container d-md-inline">
    <h5>Grade</h5>
    <form action="/grade/<%-student._id%>/?_method=PUT" method="POST">
    <select class="form-select w-25 my-3" aria-label="Grade" name = "grade">
      <option <%-!student.grade|| student.grade === "Enter a grade"? '':'selected' %>selected value="Enter a grade">Select a grade</option>
      <option  value="A">A</option>
      <option <%-student.grade ==="A-" ? 'selected': ''%> value="A-">A-</option>
      <option <%-student.grade ==="B+" ? 'selected':'' %> value="B+">B+</option>
      <option <%-student.grade ==="B" ? 'selected':'' %> value="B">B</option>
      <option <%-student.grade ==="B-" ? 'selected':'' %> value="B-">B-</option>
      <option <%-student.grade ==="C+" ? 'selected':'' %> value="C+">C+</option>
      <option <%-student.grade ==="C" ? 'selected':'' %> value="C">C</option>
      <option <%-student.grade ==="C-" ? 'selected':'' %> value="C-">C-</option>
      <option <%-student.grade ==="D+" ? 'selected':'' %> value="D+">D+</option>
      <option <%-student.grade ==="D" ? 'selected':'' %> value="D">D</option>
      <option <%-student.grade ==="D-" ? 'selected':'' %> value="D-">D-</option>
      <option <%-student.grade ==="F" ? 'selected':'' %> value="F">F</option>
    </select>

    <div class="d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">
      Update <%=student.name%>'s Grade
    </button>
  </div>
  </form> 
  </div>

  
  <div>
    <h5>
      <a style="text-decoration: none; color: black" href="/categories"
        >Categories</a
      >
    </h5>
      <form action="/categories" method="GET">
        <button class="btn btn-primary" type="submit">Edit Categories</button>
      </form>
    
    <ul >
      <% categories.forEach(category => { %>
        <form action="/students/<%-student._id%>/?_method=PUT" method="POST">
          <input hidden name = "category" value = "<%-category.name%>"">
      <li class="my-3">
        <label for="<%-category.name%>"><%=category.name%>:</label>
        <select
          class="form-select form-select-sm w-25 container d-md-inline-block"
          aria-label=".form-select-sm example"
          name = "subcategory"
          id="<%-category.name%>"
        >
          <option <%-student.categories[category.name] ?  '' : 'selected'%>>None</option>
          <% category.subcategories.forEach(subcategory => { %>
          <option <%-student.categories[category.name] && student.categories[category.name]===subcategory ?  'selected' : ''%>><%=subcategory%></option>
          <% }) %>
        </select>

      </li>
      <% }) %>
    </ul>
    <div class="d-flex justify-content-center">
      
        <button class="btn btn-primary" type="submit">
          Update <%=student.name%>'s Categories
        </button>
      </form>
    </div>
  </div>

  <div>
    
    <h5 class="mb-3">
      <a style="text-decoration: none; color: black" href="/narratives"
        >Narratives</a
      >
    </h5>
    <div class="mb-4">
    <ul class="list-group list-group-flush">
      <% narratives.forEach(narrative => { %>
      <li class="list-group-item">

        <p class="mb-3"><%=narrative.text%></p>
      
        <div
          class="btn-toolbar d-flex justify-content-center"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
          <div class="btn-group me-2" role="group" aria-label="First group">
            <form action="/narratives/<%-narrative._id%>" method="get">
              <button type="submit" class="btn btn-secondary btn-sm">
                Update Narrative
              </button>
            </form>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <form
              action="/narratives/<%-narrative._id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                Delete Narrative
              </button>
            </form>
          </div>
        </div>
      
      <% }) %>
    </ul>
  </div>
        <div class="d-flex justify-content-center">
          <form action="/narratives/new" method="GET">
            <button class="btn btn-primary" type="submit">
              Add a Narrative
            </button>
          </form>
        </div>
      
    
  </div>
  <div
    class="btn-toolbar d-flex justify-content-center mt-4"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <form action="/students/<%-student._id%>?_method=DELETE" method="POST">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
        >
          Delete <%=student.name%>
        </button>
        <div
          class="modal fade"
          id="deleteModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Deletion is Permanent
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Deleting <%=student.name%> will also delete all narratives
                associated with <%=student.name%>.
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-danger btn-lg">
                  Delete <%=student.name%>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</li>
  </div>
</section>
<!-- Footer-->
<%- include('../partials/footer') %>
