<%- include('../partials/header') %>
<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading"><%=title%></div>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="students">
  <p>This is <%=student.name%></p>

    <div class="card">
    <strong>Grade:</strong> <%=student.grade%>
  </div>

  
  <div>
    <h3>
      <a style="text-decoration: none; color: black" href="/categories"
        >Categories</a
      >
      <form action="/categories" method="GET">
        <button class="btn btn-primary" type="submit">Edit Categories</button>
      </form>
    </h3>
    <ul class="list-group">
      <% categories.forEach(category => { %>
        <form action="/students/<%-student._id%>/?_method=PUT" method="POST">
          <input hidden name = "category" value = "<%-category.name%>"">
      <li  class="list-group-item">
        <%=category.name%>:
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          name = "subcategory"
        >
          <option <%-student.categories[category.name] ?  '' : 'selected'%>>None</option>
          <% category.subcategories.forEach(subcategory => { %>
          <option <%-student.categories[category.name] && student.categories[category.name]===subcategory ?  'selected' : ''%>><%=subcategory%></option>
          <% }) %>
        </select>
      </li>
      <% }) %>
    </ul>
    <div class="d-flex justify-content-center">
      
        <button class="btn btn-primary" type="submit">
          Update <%=student.name%>'s Categories
        </button>
      </form>
    </div>
  </div>

  <div>
    <h3>
      <a style="text-decoration: none; color: black" href="/narratives"
        >Narratives</a
      >
    </h3>
    <ul class="list-group">
      <% narratives.forEach(narrative => { %>
      <li class="list-group-item">
        <%=narrative.text%>
        <div
          class="btn-toolbar"
          role="toolbar"
          aria-label="Toolbar with button groups"
        >
          <div class="btn-group me-2" role="group" aria-label="First group">
            <form action="/narratives/<%-narrative._id%>" method="get">
              <button type="submit" class="btn btn-primary">
                Update Narrative
              </button>
            </form>
          </div>
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <form
              action="/narratives/<%-narrative._id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn btn-secondary">
                Delete Narrative
              </button>
            </form>
          </div>
        </div>
      </li>
      <% }) %>
      <li>
        <div class="d-flex justify-content-center">
          <form action="/narratives/new" method="GET">
            <button class="btn btn-primary" type="submit">
              Add a Narrative
            </button>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="btn-toolbar d-flex justify-content-center mt-4"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="btn-group me-2" role="group" aria-label="Second group">
      <form action="/students/<%-student._id%>?_method=DELETE" method="POST">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
        >
          Delete <%=student.name%>
        </button>
        <div
          class="modal fade"
          id="deleteModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="deleteModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Deletion is Permanent
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Deleting <%=student.name%> will also delete all narratives
                associated with <%=student.name%>.
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-danger">
                  Delete <%=student.name%>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Footer-->
<%- include('../partials/footer') %>
